.root{
    -fx-background-color: #3c3f41;
    -fx-border-color: #3c3f41;
    -fx-border-width: 1px;
}

.canvasContainer{
    -fx-background-color: #313335;
}

.enterEmergency-button{
    -fx-text-fill: #de5f85;
    -fx-font-size: 25px;
    -fx-border-color: #5d6264;
    -fx-background-color: #313335;

}

.enterEmergency-button:pressed{
    -fx-text-fill: #313335;
    -fx-font-size: 25px;
    -fx-border-color: #5d6264;
    -fx-background-color: #de5f85;
}

.exitEmergency-button{
    -fx-text-fill: #c7e8ac;
    -fx-font-size: 25px;
    -fx-border-color: #5d6264;
    -fx-background-color: #313335;

}

.exitEmergency-button:pressed{
    -fx-text-fill: #313335;
    -fx-font-size: 25px;
    -fx-border-color: #5d6264;
    -fx-background-color: #c7e8ac;
}

.viewHealth-button{
    -fx-text-fill: #c7e8ac;
    -fx-font-size: 25px;
    -fx-border-color: #5d6264;
    -fx-background-color: #313335;

}

.viewHealth-button:pressed{
    -fx-text-fill: #313335;
    -fx-font-size: 25px;
    -fx-border-color: #5d6264;
    -fx-background-color: #c7e8ac;
}

.viewFinances-button{
    -fx-text-fill: #ff9264;
    -fx-font-size: 25px;
    -fx-border-color: #5d6264;
    -fx-background-color: #313335;

}

.viewFinances-button:pressed{
    -fx-text-fill: #313335;
    -fx-font-size: 25px;
    -fx-border-color: #5d6264;
    -fx-background-color: #ff9264;
}

.viewMain-button{
    -fx-text-fill: #ff9264;
    -fx-font-size: 25px;
    -fx-border-color: #3c3f41;
    -fx-background-color: #3c3f41;

}

.viewMain-button:pressed{
    -fx-text-fill: #313335;
    -fx-font-size: 25px;
    -fx-border-color: #5d6264;
    -fx-background-color: #ff9264;
}

.financeTitle{
    -fx-fill: #ff9264;
    -fx-font-size: 35px;
    -fx-border-color: #5d6264;
    -fx-background-color: #313335;
}

.financeScrollPane{
    -fx-text-fill: #ff9264;
    -fx-font-size: 25px;
    -fx-border: #5d6264;
    -fx-background: #313335;
    -fx-padding: 5;


}
.Finance-Text{
    -fx-fill: #ff9264;
    -fx-font-size: 15px;
    -fx-border-color: #5d6264;
    -fx-background-color: #313335;
}

.log-box{
    -fx-fill: #e47a60;
    -fx-font-size: 25px;
    -fx-border-color: #5d6264;
    -fx-background-color: #313335;
}



.scroll-bar{
    -fx-background-color: #313335;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #e47a60;
    -fx-background-radius: 5em;
}



.scroll-bar:horizontal{
    -fx-padding: .02;
    -fx-pref-height: 16.5;
}
.scroll-bar:vertical{
    -fx-padding: .02;
    -fx-pref-height: 16.5;
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #313335;
    -fx-border-color: #313335;
    -fx-background-radius: 0em;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #e47a60;
}
.scroll-bar > .increment-button ,
.scroll-bar > .decrement-button {
    -fx-background-color: #313335;
}
